<nav>
  <!-- Buttons related to non-authenticated users -->
  <div class="not-auth" *ngIf="!_auth.loggedIn()">

    <div class="leftGroup">

      <!-- Navigates to home page -->
      <button class="home" (click)="router.navigate(['/'])" *ngIf="router.url!=='/'"
              [matTooltip]="'home'|translate">
        <i class="fa fa-home"></i>
      </button>

    </div>

    <!--Breadcrumbs or placeholder of them-->
    <div class="breadcrumbs">
      <breadcrumbs [breadCrumbs]="breadCrumbs"  class="breadCrumbs"></breadcrumbs>
      <!--<div class="breadcrumbsPlaceholder" *ngIf="router.url.includes('countries')"></div>-->
    </div>

    <div class="rightGroup">

      <!-- Navigates to countries page-->
      <button [matTooltip]="'countries'|translate" *ngIf="!router.url.includes('countries')"
              (click)="router.navigate(['world/countries'])">
        <i class="fa fa-flag"></i>
      </button>

      <!-- Navigates to login page -->
      <button class="login" [matTooltip]="'login'|translate" *ngIf="!router.url.includes('login')"
              (click)="router.navigate(['login'])">
        <i class="fa fa-user"></i>
      </button>

      <!-- Toggles languages menu -->
      <button [matTooltip]="'settings'|translate" class="settings" *ngIf="showSettings">
        <i class="fa fa-cog" [matMenuTriggerFor]="menu"></i>
      </button>

      <mat-menu #menu="matMenu" class="languageMenu" xPosition="before">
        <app-languages [menu]="true"></app-languages>
      </mat-menu>
    </div>
  </div>

  <!-- Buttons related to authenticated users -->
  <div class="auth" *ngIf="_auth.loggedIn()">

    <div class="leftGroup">
      <!-- Navigate to add-*item page button -->
      <button (click)="router.navigate([getAddBtnUrl()])" *ngIf="addBtnShow">
        <i class="fa fa-plus-square"></i>
      </button>

    </div>


    <!--Breadcrumbs or placeholder of them-->
    <div class="breadcrumbs" *ngIf="showAuthBreadCrumbs()">
      <breadcrumbs [breadCrumbs]="breadCrumbs" class="breadCrumbs"></breadcrumbs>
      <!--<div class="breadcrumbsPlaceholder" *ngIf="router.url.includes('countries')"></div>-->
    </div>

    <div class="rightGroup">

      <form [formGroup]="navForm">

        <button (click)="changeImgsViewMode('list')" class="viewMode" [class.selected]="viewMode==='list'"
                *ngIf="pageTitle=='story_images'">
          <mat-icon>view_list</mat-icon>
        </button>
        <button (click)="changeImgsViewMode('gallery')" class="viewMode" [class.selected]="viewMode==='gallery'"
                *ngIf="pageTitle=='story_images'">
          <mat-icon>compare_arrows</mat-icon>
        </button>

      </form>

      <!-- Logout button -->
      <button (click)="_auth.logout()" class="logout" [matTooltip]="'logout'|translate">
        <i class="fa fa-sign-out-alt"></i>
      </button>
    </div>
  </div>
</nav>
