@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.circles{
  @include circles;
}

.squares{
  @include squares;
}

.flag{
  width: 18px;
  height:18px;
  background-size:cover;
  background-color:$gray;
  border-radius:18px;
  margin-top: -8px;
}

.mat-card{
  box-shadow:none!important;
  background-color: transparent;
}

.notFound{
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 10px 0;
}

.semiBlack{
  background-color: $black_transparent_bg;
}

