<mat-card [ngClass]="_auth.loggedIn()?'auth':'not-auth'">

  <!-- Year range slider container -->
  <div class="rangeSliderContainer">
    <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (valueChange)="startYearChanged($event)"
                (highValueChange)="endYearChanged($event)"></ng5-slider>
    <button class="applyYearRange" (click)="applyYearRange()">
      <i class="fa fa-check"></i>
    </button>
  </div>


  <div class="storyContainer" *ngIf="imagesFound">


    <!-- Gallery mode -->
    <div class="galleryContainer" *ngIf="viewMode=='gallery'">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    </div>

    <!-- Images list for authenticated users -->
    <ul class="images" *ngIf="viewMode=='list' && _auth.loggedIn()">

      <ng-container *ngFor="let i of galleryImages">
        <li class="image">
          <div class="imageContainer" [style.background-image]="getImgUrl(i['small'])">

            <!-- Image actions buttons -->
            <ng-container class="buttonsContainer" *ngIf="showEditButtons(i)">

              <!-- Edit-image-info-on-page button -->
              <button (click)="editImageInfo(i.id)">
                <i class="fas fa-edit"></i>
              </button>

              <!-- Remove image without its file (only from db) button -->
              <button class="removeImage" (click)="remove(i.id)">
                <i class="fas fa-times-circle"></i>
              </button>

              <!-- Shows if images is a cover for an item (supposed to be clickable, but it's not because *items are multiple-->
              <button class="isCover" [class.selectedBg]="i.cover">
                <p>1</p>
              </button>

              <!-- Mark the image as favorite button -->
              <button class="makeFavorite" (click)="makeFav(i.id)" [class.selected]="i.fav">
                <i class="fas fa-star"></i>
              </button>
            </ng-container>

          </div>
        </li>
      </ng-container>
    </ul>


    <!-- Story appearance for non-authenticated users -->
    <div *ngIf="!_auth.loggedIn()">
      <h3 class="storyTitle">{{routeData['name_'+lang]}}</h3>

      <preview-gallery [galleryImages]="galleryImages"></preview-gallery>

      <p class="storyDesc">{{routeData['description_'+lang]}}</p>
    </div>
  </div>


  <ng-container *ngIf="!imagesFound">
    <small class="no_items_found">{{'no_images_found_error'|translate}}</small>
  </ng-container>
</mat-card>
