<mat-card>

  <!-- Images terminal title -->
  <h2 class="terminalTitle">
    <i class="fa fa-{{titleIcon}}"></i>
    <span translate>{{pageTitle}}</span>
  </h2>

  <form [formGroup]="imagesForm">

    <!-- Image drop zone -->
    <div class="dropzoneContainer" *ngIf="!flag">
      <dropzone [config]="dropzoneConfig"
                [message]="dropzoneMsg|translate"
                id="dropzone"
                (thumbnail)="onAddedFile($event)" (removedFile)="removeImage($event)"
                class="storyDropzone"></dropzone>
    </div>


    <!-- Add-images button -->
    <div class="actions">

      <button class="addImages" (click)="addImages()">
        <mat-spinner *ngIf="_auth.formProcessing" [diameter]="15"></mat-spinner>
        {{'add'|translate}}
      </button>
    </div>
  </form>
</mat-card>
