<!-- Navigation bar-->
<nav-bar class="navBarContainer" *ngIf="_auth.loggedIn()"></nav-bar>


<mat-sidenav-container [class.grayBg]="!_auth.loggedIn()">

    <!-- Categories side bar-->
    <mat-sidenav mode="side" #sidenav opened class="mat-elevation-z8" *ngIf="showLeftSidebar">
      <left-sidebar></left-sidebar>
    </mat-sidenav>


    <mat-sidenav-content [style.background-image]="getMainBg()" class="mainCover">
        <nav-bar *ngIf="!_auth.loggedIn()"></nav-bar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

    <!-- Right sidebar-->
    <mat-sidenav opened mode="side" position="end" class="mat-elevation-z8"  *ngIf="_auth.loggedIn() && viewMode!='gallery'">
        <right-sidebar></right-sidebar>
    </mat-sidenav>
</mat-sidenav-container>
