<mat-card>

  <form [formGroup]="editImageInfoForm" *ngIf="image;else fileNotFound">
    <div class="info">
      <ul class="infoList">
        <li>
          <mat-form-field>
            <mat-label>{{'description'|translate}}</mat-label>
            <textarea matInput matTextareaAutosize [matAutosizeMinRows]="2" [matAutosizeMaxRows]="25"
                      [formControlName]="'description_'+lang"></textarea>
          </mat-form-field>

        </li>

        <li *ngIf="makeCover" class="coverItemsList">
          <ng-select [items]="coverItems" class="coverItems"
                     [dropdownPosition]="'up'" formControlName="coverItem">
          </ng-select>
        </li>
        <li class="infoItems">
          <label for="translateDesc" [matTooltip]="'translate'|translate">
            <i class="fas fa-globe translateSign" [class.green]="translateState"></i>
          </label>
          <label for="cover" [matTooltip]="'make_cover'|translate">
            <button class="coverSign" (click)="coverItemToggle()" [class.yellowBg]="makeCover"
                    [class.selectedBg]="image.cover">1
            </button>
          </label>
          <label for="favorite" [matTooltip]="'make_fav'|translate">
            <i class="fas fa-star favSign" [class.green]="favState" [class.selected]="image.fav"></i>
          </label>
          <input type="checkbox" formControlName="translate" id="translateDesc" (change)="setAsTranslateable()"
                 [hidden]="true">
          <input type="checkbox" formControlName="cover" id="cover" [hidden]="true">
          <input type="checkbox" formControlName="fav" id="favorite" (change)="setAsFavorite(image.id)" [hidden]="true">
        </li>
        <li>
          <div class="actions">
            <div class="removeContainer">

              <button class="removeImage" (click)="remove(image.id)">
                <mat-spinner *ngIf="_auth.removeProcessing" [diameter]="15"></mat-spinner>
                {{'remove'|translate}}
              </button>

              <!-- Remove-with-folder checkbox-->
              <div class="checkFolder">
                <input type="checkbox" id="fileCheck" formControlName="with_file"
                       [checked]="withFile.value=='1'" (change)="changeWithFileState($event)">
                <label for="fileCheck">{{'with_file'|translate}}</label>
              </div>
            </div>
            <button (click)="saveImageInfo()" class="saveImageInfo">
              <mat-spinner *ngIf="_auth.formProcessing" [diameter]="15"></mat-spinner>
              {{'save'|translate}}
            </button>
          </div>
        </li>
      </ul>

    </div>


    <!-- Info box recommendations -->
    <info-box [elements]="infoBoxData"></info-box>

    <div class="image" [style.background-image]="image.file|getImgUrl:'others':true">

    </div>
  </form>

  <ng-template #fileNotFound>
    <small class="no_items_found">{{'file_not_found_error'|translate}}</small>
  </ng-template>
</mat-card>
