@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';

.image {
  width: 400px;
  height: 400px;
  background-size: cover;
  float: right;
}

.info {
  float: left;
  width: 30%;
  overflow: hidden;
  .infoItems {
    display: flex;
  }
  .infoList {
    padding-top: 20px !important;
  }
  .mat-form-field {
    width: 100%;
  }
  .coverItemsList {
    margin-top: 30px;
    .coverItems {
      width: 71%;
    }
  }
  label {
    margin: 20px;
    cursor: pointer;
  }

  .translateSign {
    color: $dark_gray;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin-top: 50px;
    .saveItem {
      @include namedBtn;
      background-color: $green;
      float: right;
    }
    .saveItem:disabled {
      background-color: $dark_gray;
    }

    .removeContainer {
      display: flex;
      .removeImage {
        @include namedBtn;
        background-color: $red;
      }
      .checkFolder {
        padding-top: 4px;
        label {
          font-size: 12px;
          display: block;
          float: right;
          color: $darker_gray;
          margin-top: 3px;
          margin-left: 4px
        }
      }

    }

  }

}

.imageYear{
  width: 18%;
}

.saveImageInfo {
  @include namedBtn;

  float: right;
}
