@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

table {
  margin: auto;
  width: 100%;
  .mat-header-cell {
    text-align: left;
  }
  .mat-cell {
    padding: 20px;
  }
  .imgContainer {
    padding: 10px;
    margin: auto;
    .img {
      width: 80px;
      height: 80px;
      border-radius: 80px;
      background-size: cover !important;
      cursor: pointer;
    }
  }
  .status {
    text-align: center;
    border-radius: 10px;
    color: $white;
    padding: 5px;
  }
  .active,.accepted {
    background-color: $green;
  }
  .pending{
    background-color: $yellow;
  }
  .inactive,.rejected {
    background-color: $red;
  }
  .mat-column-img_actions {
    button {
      @include noBgButton;
      margin-left:20px;
    }
    .approve{
      background-color: $green;
    }
    .reject{
      background-color: $red;
    }
  }
}

.notFoundContainer{
  margin-top: 100px;
}
