@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixins';



// Country info on the left
.infoContainer {
  float: left;
  width: 30%;
  .mat-form-field {
    display: block !important;
    margin-top: 20px;
  }
  .actions{
    display: flex;
    justify-content: space-between;
    .saveDirection {
      @include namedBtn;
      background-color: $green;
      float: right;
    }
    .saveDirection:disabled{
      background-color: $dark_gray;
    }

    .removeContainer{
      display: flex;
      .removeDirection {
        @include namedBtn;
        background-color: $red;
      }
      .checkFolder{
        padding-top: 4px;
        label{
          font-size: 12px;
          display: block;
          float:right;
          color:$darker_gray;
          margin-top: 3px;
        }
      }

    }

  }

}

.dropzoneContainer {
  width: 33%;
  float: right;
  padding-top: 40px;
}

// Flag img on the right
.flagImg {
  background-repeat: no-repeat;
  width: 400px;
  height: 200px;
  float: right;
  margin-top: 60px;
  border: 1px solid #c0c0c042;
  position: relative;
  img {
    width: 400px;
    height: 200px;
  }
  i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 24px;
    color: $white;
    cursor: pointer;
  }
}


